/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background: url("./1.png") no-repeat center center fixed;
    background-size: cover;
    color: #333;
  }

  @font-face {
    font-family: 'CustomFont'; 
    src: url('./Atop-R99O3.ttf') format('truetype'); 
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  h1 { 
    font-family:'CustomFont';
    margin-top: 70px;
    font-size: 70px;
    color: #54b942;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    letter-spacing: 5px;
  }
  
  /* Navigation Menu */
  .top-menu {
    display: flex;
    justify-content: center;
    gap: 20px; 
    margin-bottom: 2px; 
  }
  
  .top-menu a {
    text-decoration: none;
    color: #333; 
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
    transition: color 0.3s ease;
  }
  
  .top-menu a:hover {
    color: #45a049; 
  }
  
  .menu-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #45a049; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .menu-button:hover {
    background-color: #1d6121;
  }
  
  /* Dropdown Menu */
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #89df8e;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 150px;
  }
  
  .dropdown-menu a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px;
    font-weight: bold;
    transition: background 0.3s;
  }
  
  .dropdown-menu a:hover {
    background-color: #000000;
    color: #fff;
  }
  
  /* Show Dropdown Menu */
  .dropdown-menu.show {
    display: block;
  }